﻿@model MyBlog_SD3892.Models.PostModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Most comment</h2>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout-2">
            @foreach (PostModel post in Model.lstPopular)
            {
            <div class="col-md-4 col-sm-6">
                <a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id" class="h-entry mb-30 v-height gradient" style="background-image: url('@Url.Content("~/images" + post.pathThumbnail)');">
                    <div class="text">
                        <h2>@post.postTitle</h2>
                        <span class="date">@post.dateCreate</span>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Recent Posts</h2>
            </div>
        </div>
        <div class="row">
            @foreach (PostModel post in Model.lstRecent)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="entry2">
                        <a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id"><img src="@Url.Content("~/images" + post.pathThumbnail)" alt="@post.postTitle" class="img-fluid rounded img-category"></a>
                        <div class="excerpt">
                            <span class="post-category text-white bg-info mb-3">@post.subCategories.subCateName</span>

                            <h2><a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id">@post.postTitle</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <span class="d-inline-block mt-1">By <a>@post.userNameCreate</a></span>
                                <span>@post.dateCreate</span>
                            </div>
                            <p>@post.summaryContent</p>
                            <p><a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id">Read More</a></p>
                        </div>
                    </div>
                </div>
            }
            </div>
        <div class="row text-center pt-5 border-top">
            <div class="col-md-12">
                <div class="custom-pagination">
                    <span>1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">15</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Recent Comment</h2>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout">
            @foreach (PostModel post in Model.lstRecentComment)
            { 
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id" class="hentry img-2 v-height mb30 gradient" style="background-image: url('@Url.Content("~/images" + post.pathThumbnail)');">
                        <span class="post-category text-white bg-success">@post.subCategories.subCateName</span>
                        <div class="text text-sm">
                            <h2>@post.postTitle</h2>
                            <span>@post.dateCreate</span>
                        </div>
                    </a>
                </div>
            }
        </div>

    </div>
</div>

@section subscribe{
    <partial name="_subscribe.cshtml" />
}