﻿<header class="site-navbar" role="banner">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-12 search-form-wrap js-search-form">
                <form id="searchForm" method="get" asp-action="Search" asp-controller="Detail">
                    <input type="text" name="searchKey" class="form-control" placeholder="Search...">
                    <div class="search-btn"><span onclick="submitSearchForm()" class="icon-search"></span>&nbsp; &nbsp;<span onclick="closeSearchForm()" class="icon-close"></span></div>
                </form>
            </div>

            <div class="col-4 site-logo">
                <a asp-action="Index" asp-controller="Home" class="text-black h2 mb-0">Mini Blog</a>
            </div>

            <div class="col-8 text-right">
                <nav class="site-navigation" role="navigation">
                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        @await Component.InvokeAsync("MenuClient")
                        <li class="d-none d-lg-inline-block"><a href="#" class="js-search-toggle"><span class="icon-search"></span></a></li>
                    </ul>
                </nav>
                <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a>
            </div>
        </div>

    </div>
</header>