﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyBlog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <partial name="_head.cshtml" />
</head>
<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <partial name="_header.cshtml" />

        @RenderBody()

        @RenderSection("subscribe", required: false)

        <partial name="_footer.cshtml" />

    </div>
    <partial name="_scripts.cshtml" />
</body>
</html>