﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>General Form</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">General Form</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- general form elements -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Quick Example</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="row card-body">
                                <div class="form-group col-md-6">
                                    <label>theo cate or sub cate</label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Sub-Category</label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">From</label>
                                    <input type="month" class="form-control" id="dateFrom" value="@DateTime.Now.ToString("yyyy-MM")" placeholder="Enter email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">To</label>
                                    <input type="month" class="form-control" id="dateFrom" value="@DateTime.Now.ToString("yyyy-MM")" placeholder="Enter email">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-info w-100 h-100" onclick="alert(dateFrom.value)">Sort</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                        <!-- Form Element sizes -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">Different Height</h3>
                            </div>
                            <div class="card-body px-0">
                                <table class="w-100 table table-hover table-bordered">
                                    <thead class="text-center">
                                        <tr>
                                            <th>sdfsdf</th>
                                            <th>sdfsdf</th>
                                            <th>sfsdf</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center">
                                                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modelId"><i class="fa fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>