﻿@model MyBlog_SD3892.Models.PostModel
<div class="modal-body" id="modalBody">
    <div class="form-group">
        <label for="categoryName">Category Name</label>
        <select id="sl_categoryForUpdatePost" name="cateId" class="form-control" onchange="changeCategoryUpdatePost(this.value,@Model.Id)">
            @foreach (CategoryModel category in Model.lstCategory)
            {
                var select = Model.subCategories.categoryId == category.Id ? "selected" : "";
                @:<option value="@category.Id" @select >@category.cateName</option>
            }
        </select>
        @Html.HiddenFor(m => m.Id)
    </div>
    <div class="form-group">
        <label for="subCategoryName">Sub-Category Name</label>
        <select id="sl_subCategoryForUpdatePost" name="subCateId" class="form-control">
            @foreach (SubCategoryModel subCategory in Model.lstSubCategory)
            {
                var select = Model.subCategories.Id == subCategory.Id ? "selected" : "";
                @:<option value="@subCategory.Id" @select>@subCategory.subCateName</option>
            }
        </select>
        <small id="errorCheckSubCate" class="form-text text-danger"></small>
    </div>
    <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" class="form-control" name="postTitle" value="@Model.postTitle" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="summaryContent">Summary content</label>
        <input type="text" class="form-control" name="summaryContent" value="@Model.summaryContent" placeholder="Enter summary content">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Thumbnail</label>
        <div class="custom-file">
            <input type="file" onChange="changeCustomChooseFile(this.value)" class="custom-file-input" id="imageFile" name="pathThumbnail">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
    <div class="form-group">
        <label>Content Detail</label><br/>
        <label>More Images</label>
        <input type="file" class"form-control" name="fileImg" id="fileImg" onChange="addImgContentPost(this)">
        <textarea name="detailContent" id="config_binh_luan" class="ckeditor">@Model.detailContent</textarea>
    </div>
</div>
<div class="modal-footer" id="modalFooter">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" onclick="return chechSubCateIdUpdatePost()">Save</button>
</div>