﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>AdminLTE 3 | Dashboard 2</title>

    <partial name="_head.cshtml" />

</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <partial name="_navbar.cshtml" />
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->

        <partial name="_slider.cshtml" />

        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <partial name="_footer.cshtml" />
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <partial name="_scripts.cshtml" />
    <!-- PAGE SCRIPTS -->
</body>
</html>