﻿<!-- jQuery -->
<script src="~/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/admin/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/admin/js/adminlte.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="~/admin/js/demo.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<!-- ChartJS -->
<script src="~/admin/plugins/chart.js/Chart.min.js"></script>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/admin/js/myscripts.js"></script>
<script>
    $(document).ready(function () {
        var url = window.location.href;
        $('.sidebar .nav-item').find('.active').removeClass("active");
        $('.sidebar .nav-item .nav-link').each(function () {
            let href = this.href;
            if (href.indexOf(url) >= 0) {
                if (url.indexOf($(this).attr("href")) >= 0) {
                    $(this).parent().children().addClass('active');
                }
                $(this).parent().addClass('active');
                $(this).parent().parent().parent().addClass('menu-open');
                $(this).parent().parent().parent().children("a").addClass('active');
            }
        });
        /*$('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });*/
    });
</script>
<script>
    if ($('#config_binh_luan').length) {
        CKEDITOR.replace("config_binh_luan", { customConfig: 'config_binh_luan.js' });
    }
</script>