﻿@model List<MyBlog_SD3892.Models.CategoryModel>
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Category</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdminDashboard">Home</a></li>
                        <li class="breadcrumb-item active">Category</li>
                    </ol>
                </div>
                <div class="text-danger text-center">@ViewData["message"]</div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- general form elements -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Filter and Create</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="row card-body">
                            <div class="form-group col-md-6">
                                <label>Category</label>
                                <select id="sl_category" class="form-control">
                                    @foreach (CategoryModel category in Model)
                                    {
                                        <option value="@category.Id">@category.cateName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Sub-Category</label>
                                <select id="sl_subCategory" class="form-control">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <button class="btn btn-info w-100" id="btnSortCategory">Sort</button>
                            </div>
                            <div class="form-group col-md-6">
                                <button class="btn btn-success w-100" data-toggle="modal" data-target="#modelId" onclick="createCategory()">New</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    <!-- Form Element sizes -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">Sort Result</h3>
                        </div>
                        <div class="card-body px-0">
                            <table id="tbl_categoryResult" class="w-100 table table-hover table-bordered">
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formCategory" enctype="multipart/form-data">
                <div class="modal-body" id="modalBody">
                </div>
                <div class="modal-footer" id="modalFooter">
                </div>
            </form>
        </div>
    </div>
</div>