﻿@model List<MyBlog_SD3892.Models.CategoryModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}

    <div class="content-wrapper">
            <div class="toast" data-autoHide="false" style="position: absolute; top: 0; right: 0; z-index:999; width:200px">
                <div class="toast-header">
                    <strong class="mr-auto text-danger" id="toastTitle"></strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body" id="toastBody"></div>
            </div>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Posts</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-action="Posts" asp-controller="AdminContent">Home</a></li>
                            <li class="breadcrumb-item active">Posts</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- general form elements -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Quick Example</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="row card-body">
                                <div class="form-group col-md-6">
                                    <label>Category</label>
                                    <select id="sl_category" class="form-control">
                                        @foreach (CategoryModel category in Model)
                                        {
                                            <option value="@category.Id">@category.cateName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Sub-Category</label>
                                    <select id="sl_subCategory" class="form-control">
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-info w-100">Sort</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success w-100" onclick="addNewPost()">New</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                        <!-- Form Element sizes -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">Different Height</h3>
                            </div>
                            <div class="card-body px-0">
                                <table class="w-100 table table-hover table-bordered">
                                    <thead class="text-center">
                                        <tr>
                                            <th>sdfsdf</th>
                                            <th>sdfsdf</th>
                                            <th>sfsdf</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center">
                                                <button class="btn btn-outline-info"><i class="fa fa-pencil-alt"></i></button>
                                                <button class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog full-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data">
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer" id="modalFooter">
            </div>
            </form>
        </div>
    </div>
</div>