﻿
@{
    ViewData["Title"] = "Message";
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- general form elements -->
                    <div class="card card-danger">
                        <div class="card-header">
                            <h3 class="card-title">Notification</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="row card-body">
                            <div class="card-body px-0">
                                <table class="w-100 table table-hover table-bordered">
                                    <thead class="text-center">
                                        <tr>
                                            <th>sdfsdf</th>
                                            <th>sdfsdf</th>
                                            <th>sfsdf</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center">
                                                <button class="btn btn-outline-info" data-toggle="modal" data-target="#modelId"><i class="fa fa-pencil-alt"></i></button>
                                                <button class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Message</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="row card-body">
                            <div class="card-body px-0">
                                <table class="w-100 table table-hover table-bordered">
                                    <thead class="text-center">
                                        <tr>
                                            <th>sdfsdf</th>
                                            <th>sdfsdf</th>
                                            <th>sfsdf</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center">
                                                <button class="btn btn-outline-info" data-toggle="modal" data-target="#modelId"><i class="fa fa-pencil-alt"></i></button>
                                                <button class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    <!-- Form Element sizes -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">Different Height</h3>
                        </div>
                        <div class="card-body row">
                            <div class="form-group col-md-6">
                                <label>all or 1</label>
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>who</label>
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <textarea class="ckeditor" name="ckeditor1" id="config_binh_luan"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success w-100">Send</button>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog full-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">smertert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">tiêu đề</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label>trạng thái</label>
                    <select class="form-control" disabled>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">thumnail</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Textarea</label>
                    <textarea name="editor1" id="config_binh_luan" class="ckeditor"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>