﻿.full-modal{
    width: 95%;
    max-width: unset;
}
.post-thumbnail-admin{
    width:200px;
}
.user-thumbnail-admin {
    width: 75px;
}
.img-admin-avatar{
    width: 35px !important;
    height: 35px !important;
}
.add-new-img-post-content{
    padding:5px;
    background-color: #ebe9e9;
    max-width:100% !important;
}
.add-new-img-post-content-author {
    margin-left: auto;
    margin-right: auto;
}