﻿@model MyBlog_SD3892.Models.CategoryModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-5 bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Sub-Category</h2>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout-2">
            @foreach (SubCategoryModel subCate in Model.subCategories)
            {
                <div class="col-md-4 col-lg-3">
                    <a asp-action="SubCategory" asp-controller="Category" asp-route-subCateId="@subCate.Id" class="h-entry mb-30 v-height gradient" style="background-image: url('@Url.Content("~/images"+subCate.pathThumbnail)');">
                        <div class="text h-100 w-100 d-flex justify-content-center align-items-center">
                            <h2 class="categorie-text">@subCate.subCateName</h2>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            @foreach (PostModel post in Model.lstPost)
            {
            <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
                <div class="entry2">
                    <a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id"><img src="@Url.Content("~/images" + post.pathThumbnail)" alt="@post.postTitle" class="img-fluid rounded img-category"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-success mb-3">@post.subCategories.subCateName</span>

                        <h2><a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id">@post.postTitle</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span class="d-inline-block mt-1">By <a>@post.userNameCreate</a></span>
                            <span>@post.dateCreate</span>
                        </div>
                        <p>@post.summaryContent</p>
                        <p><a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id">Read More</a></p>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="row text-center pt-5 border-top">
            <div class="col-md-12">
                <div class="custom-pagination">
                    <span>1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">15</a>
                </div>
            </div>
        </div>
    </div>
</div>