﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <partial name="~/Views/Shared/Admin/_head.cshtml" />
</head>
<body class="hold-transition login-page">
    @RenderBody()
    <!-- /.login-box -->
    <!-- jQuery -->
    <partial name="~/Views/Shared/Admin/_scripts.cshtml" />

</body>
</html>
