﻿@model MyBlog_SD3892.Models.UserModel
<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        <img src="@Url.Content("~/images" + Model.pathAvatar)" class="img-circle elevation-2 img-admin-avatar" alt="@Model.fullName">
    </div>
    <div class="info">
        <a class="d-block">@Model.fullName | @Model.role.roleName</a>
    </div>
</div>
<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a asp-action="Index" asp-controller="AdminDashboard" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                    Content
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-action="Posts" asp-controller="AdminContent" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Posts</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Category" asp-controller="AdminContent" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Category</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Comments" asp-controller="AdminContent" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Comments</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    Statistical
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="AdminStatistical" asp-action="Posts" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Posts</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="AdminStatistical" asp-action="Comments" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Comments</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-comment-dots"></i>
                <p>
                    Notification
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="AdminNotify" asp-action="message" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Message</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="AdminNotify" asp-action="admin" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Admin</p>
                    </a>
                </li>
            </ul>
        </li>
        @if (Model.role.roleName == "Admin")
        {
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fa fa-user-clock"></i>
                    <p>
                        Users
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-action="Roles" asp-controller="AdminAuth" class="nav-link">
                            <i class="fa fa-users-cog nav-icon"></i>
                            <p>Roles</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Users" asp-controller="AdminAuth" class="nav-link">
                            <i class="fa fa-users nav-icon"></i>
                            <p>Users</p>
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</nav>
<!-- /.sidebar-menu -->