﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/AdminAuth/_layout.cshtml";
}

    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-action="LoginUser" asp-controller="AdminAuth" method="post">
                    <div class="input-group mb-3">
                        <input type="email" name="userEmail" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="userPassword" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <div class="col-12 text-danger text-center">@ViewData["message"]</div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a asp-action="ForgotPW" asp-controller="AdminAuth">I forgot my password</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>