﻿@model MyBlog_SD3892.Models.UserModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/Admin/_layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdminDashboard">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
                <div class="text-danger text-center">@ViewData["message"]</div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- general form elements -->
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Create</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="post" asp-controller="AdminAuth" asp-action="addNewUser" enctype="multipart/form-data">
                            <div class="row card-body">

                                <div class="form-group col-md-6">
                                    <label>Role</label>
                                    <select class="form-control" name="userRoleId">
                                        @foreach (RoleModel role in Model.lstRole)
                                        {
                                            <option value="@role.Id">@role.roleName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Full name</label>
                                    <input type="text" name="userFullName" class="form-control" placeholder="Enter your name" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Phone</label>
                                    <input type="tel" name="userPhone" class="form-control" placeholder="Enter your phone" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input type="email" name="userEmail" class="form-control" placeholder="Enter your email" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Password</label>
                                    <input type="password" name="userPassword" class="form-control" placeholder="Enter your password" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Address</label>
                                    <input type="text" name="userAddress" class="form-control" placeholder="Enter your address" />
                                </div>
                                <div class="form-group col-12">
                                    <label>Description</label>
                                    <input type="text" name="userDescription" class="form-control" placeholder="Enter your description" />
                                </div>
                                <div class="form-group col-12">
                                    <label>Avatar</label>
                                    <div class="custom-file">
                                        <input type="file" onChange="changeCustomChooseFile(this.value)" class="custom-file-input" id="imageFile" name="userPathAvatar">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success w-100">New</button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                    <!-- Form Element sizes -->
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">Different Height</h3>
                        </div>
                        <div class="card-body px-0">
                            <table class="w-100 table table-hover table-bordered">
                                <thead class="text-center">
                                    <tr>
                                        <th>ID</th>
                                        <th>Avatar</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        <th>Role</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (UserModel user in Model.lstUser)
                                    {
                                    <tr>
                                        <td>@user.Id</td>
                                        <td class="text-center"><img class="img-thumbnail user-thumbnail-admin" src='@Url.Content("~/images" + @user.pathAvatar)' /></td>
                                        <td>@user.fullName</td>
                                        <td>@user.email</td>
                                        <td>@user.phoneNumber</td>
                                        <td>@user.address</td>
                                        <td>@user.role.roleName</td>
                                        <td>@user.description</td>
                                        <td class="text-center">
                                            <button class="btn btn-outline-info"><i class="fa fa-pencil-alt"></i></button>
                                            <button class="btn btn-outline-danger"><i class="fa fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">smertert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>