﻿@model MyBlog_SD3892.Models.PostModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@Url.Content("~/images" + Model.pathThumbnail)');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="mb-4">@Model.postTitle</h1>
                    <div class="post-meta align-items-center text-center">
                        <span>@Model.dateCreate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="site-section py-lg">
    <div class="container row mx-auto">
        <!-- END main-content -->
        <div class="col-md-12 col-lg-8">

            <div class="post-content-body">
                @Html.Raw(Model.detailContent)
            </div>

            <div class="pt-5">
                <h3 class="mb-5">Comments(@Model.comments.Count)</h3>
                <ul class="comment-list">
                    @foreach (CommentModel comment in Model.comments)
                    {
                    <li class="comment">
                        <div class="comment-body float-none">
                            <h3>@comment.guest.fullName</h3>
                            <div class="meta">@comment.dateCreate</div>
                            <p class="ml-4">@comment.contentComment</p>
                        </div>
                    </li>
                    }
                </ul>
                <!-- END comment-list -->

                <div class="comment-form-wrap pt-5 mx-a">
                    <h3 class="mb-5">Leave a comment</h3>
                    <form method="post" asp-controller="Detail" asp-action="submitComment" class="p-5 bg-light">
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" name="guestName" class="form-control" id="name">
                            <small id="errorGuestName" class="form-text text-danger"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" name="guestEmail" class="form-control" id="email">
                            <small id="errorGuestEmail" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea name="contentComment" id="message" cols="30" rows="6" class="form-control"></textarea>
                            <small id="errorContentComment" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <input type="submit" onclick="checkComment()" value="Post Comment" class="btn btn-primary">
                            @Html.Hidden("postId", Model.Id)
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- END main-content -->

        <div class="col-md-12 col-lg-4">
            <div class="sidebar-box search-form-wrap">
                <form action="#" class="search-form">
                    <div class="form-group">
                        <span class="icon fa fa-search"></span>
                        <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                    </div>
                </form>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
                <div class="bio text-center">
                    <img src="@Url.Content("~/images" + Model.user.pathAvatar)" alt="Image Placeholder" class="img-fluid mb-3">
                    <div class="bio-body">
                        <h2>@Model.user.fullName</h2>
                        <p class="mb-4">@Model.user.description</p>
                    </div>
                </div>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
                <h3 class="heading">Popular Posts</h3>
                <div class="post-entry-sidebar">
                    <ul>
                        @foreach (PostModel post in Model.lstPopular)
                        {
                        <li>
                            <a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id">
                                <img src="@Url.Content("~/images" + post.pathThumbnail)" alt="@post.postTitle" class="mr-4 float-left">
                                <div class="text">
                                    <h5>@post.postTitle</h5>
                                    <div class="post-meta">
                                        <span class="mr-2">@post.dateCreate</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <!-- END sidebar-box -->

            <div class="sidebar-box">
                <h3 class="heading">Categories</h3>
                <ul class="categories">
                    @foreach (SubCategoryModel sub in Model.lstSubCategory)
                    {
                        <li><a asp-action="SubCategory" asp-controller="Category" asp-route-subCateId="@sub.Id">@sub.subCateName</a></li>
                    }
                </ul>
            </div>
            <!-- END sidebar-box -->
        </div>
        <!-- END sidebar -->
    </div>
</section>

<div class="site-section bg-light">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12">
                <h2>Related Posts</h2>
            </div>
        </div>

        <div class="row align-items-stretch retro-layout">
            @foreach (PostModel post in Model.lstRelated)
            {
            <div class="col-12 col-sm-5  col-md-4 col-lg-3">
                <a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id" class="hentry img-2 v-height mb30 gradient" style="background-image: url('@Url.Content("~/images" + post.pathThumbnail)');">
                    <div class="text text-sm">
                        <h2>@post.postTitle</h2>
                        <span>@post.dateCreate</span>
                    </div>
                </a>
            </div>
            }
        </div>

    </div>
</div>
@section subscribe{
    <partial name="_subscribe.cshtml" />
}