﻿@model List<MyBlog_SD3892.Models.PostModel>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Search result:</h2>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-white">
    <div class="container">
        <div class="row">
            @foreach (PostModel post in Model)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="entry2">
                        <a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id"><img src="@Url.Content("~/images" + post.pathThumbnail)" alt="@post.postTitle" class="img-fluid rounded img-category"></a>
                        <div class="excerpt">
                            <span class="post-category text-white bg-success mb-3">@post.subCategories.subCateName</span>

                            <h2><a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id">@post.postTitle</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <span class="d-inline-block mt-1">By <a href="#">@post.userNameCreate</a></span>
                                <span>&nbsp;-&nbsp; @post.dateCreate</span>
                            </div>

                            <p>@post.summaryContent</p>
                            <p><a asp-action="Index" asp-controller="Detail" asp-route-postId="@post.Id">Read More</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row text-center pt-5 border-top">
            <div class="col-md-12">
                <div class="custom-pagination">
                    <span>1</span>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>...</span>
                    <a href="#">15</a>
                </div>
            </div>
        </div>
    </div>
</div>